*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container
{
    width: 100vw;
    height: 100vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dfe6e9;
}
header
{
    text-align: center;    
    margin-bottom: 60px;
}
h3
{
    font-size: 175%;
    font-weight: 400;
    border-bottom: 3px solid #f19e03;
}
section
{
    display: flex;
    justify-content: space-evenly;
}
.one-1
{
    display: flex;
    width: 66.66%;
}
.one,.two
{
    width: 50%;
}
.three
{
    width: 30%;
}
.one,.two,.three
{
    margin: 0 20px;
    padding: 25px 15px;
    background-color: #fdcb6e;
    position: relative;
    border: 3px solid black;
}
.one h4
{
    background-color: #f19e03;
}
.two h4 
{
    background-color: #d63031;
}
.three h4
{
    background-color: #f19e03;
}
p
{
    margin-top: 25px;
    width: 100%;
}
h4 
{
width: fit-content;
font-size: 125%;
font-weight: 400;
text-align: right;
padding: 3px 5px 3px 70px;
border: 3px solid black;
position: absolute;
top: -3px;
right: -3px;
color: #FFF;
}

@media only screen and (max-width: 992px)
{
    section
    {
        flex-direction: column;
    }
    .one,.two
    {
    height: 230px;
    }
    .three
    {
        height: 190px;
    }
    .one-1
    {
        width: 100%;
    }
    .one,.two
    {
        width: 50%;
    }
    .three
    {
        width: 95.5%;
        margin-top: 40px;
    }
}

@media only screen and (max-width:768px)
{
    *
    {
        font-size: 15px;
    }
    .container
    {
        padding: 3%;
        height: fit-content;
    }
    .one-1
    {
        flex-direction: column;
        width: 100%;
    }
    .one,.two,.three
    {
        width: 95.5%;
        height: 150px;
    }
    .one
    {
        margin-bottom: 40px;
    }
}